/* =Plugins
----------------------------------------------- */

/* Advertisements */
.adslot {
	margin: 0 auto;
}
.above-the-fold,
.below-the-fold,
.sidebar-ad-1 {
	display: block;
}

/* Search */
.gsc-control-cse {
	padding: 0 !important;
}
.gsc-above-wrapper-area,
.gsc-webResult.gsc-result.gsc-promotion {
	display: none;
}
.gcsc-find-more-on-google-branding,
.gcsc-branding {
	display: none !important;
}

/* Breadcrumbs */
.breadcrumbs li {
	display: inline-block;
	margin-left: 0;
	margin-right: 24px;
}
.breadcrumbs li:first-child,
.breadcrumbs li:last-child {
	display: none;
}

/* Google Fonts */
body.google-fonts-enabled {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-rendering: auto;
}

/* Shortcode Embeds */
[class^="embed-"] {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	margin-bottom: 24px;
	clear: both;
}
[class^="embed-"] embed,
[class^="embed-"] iframe,
[class^="embed-"] object,
[class^="embed-"] video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* =Print
----------------------------------------------- */

@media print {
	/* .above-the-fold,
	.below-the-fold,
	.breadcrumbs,
	.yarpp-related {
		display: none;
	} */
	.above-the-fold,
	.below-the-fold,
	.breadcrumbs {
		display: none;
	}
}
